<p>Have you found yourself in a situation when don't know which doctor or lawyer or freelance designer should you consult?
<br/>Do you have ask around your workplace/friends for suggestions?
Do you find that some days later when you mention this to another friend - they suggest something even better and you think maybe if you'd known that before?
You then think of the entire process as inconvenient, don't you?</p>
<p> Findin streamlines this * asking around * </p>
<p> All you need to do now is post what you are Findin[g]. Findin would update it to your LI profile and notify all your connections in the city where you're looking and Voila!
Your connections would possibly reply you with their recommendations and link to their LI profile.</p>
<h4>To get started</h4>
<h3>Login with LinkedIn</h3>
